
.contato{
    background-color: var(--cor-header);
    padding: 1em;
}


.contato__titulo{
    font-size: 1rem;
    font-weight: 700;
}

.contato__texto{
    font-weight: 300;
    margin: 0.7em 0;
}

.contato__titulo,
.contato__texto{
    background: var(--cor-font-text-hamburgue-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__email{
    font-size: 0.8em;
    padding: .5em 2em;
    border: 1px solid var(--cor-header-2);
    border-radius: 24px;
    width: 90%;
    color: var(--cor-font-text-h2);
}

.contato__email::placeholder{
    font-family: var(--font-principal);
    color: var(--cor-font-text-h2);
    background: url("../img/ico/Email.svg") no-repeat;
    padding-left: 2em;
    margin-left: 5em;
}

/*****************************************
** MEDIA-QUERIES
*****************************************/
@media screen and (min-width: 1024px) {
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__email{
        width: 30%;
    }

    .contato__titulo{
        font-size: 1.5rem;
    }

    .contato__descricao{
        margin-right: 1em;
        width: 30%;
    }

    .contato__texto{        
        margin-left: 0 1em;
    }
}

@media screen and (min-width: 1728px) {
    .contato{
        padding: 3em 24vw;
    }
}